#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=-all
export CFLAGS =
export CXXFLAGS =
export LDFLAGS =

COMPILER_FAMILY := intel
export COMPILER_FAMILY
MPI_FAMILY      := mpich
export MPI_FAMILY
PNAME           := netcdf
VERSION         := 4.10.0
INSTALL_PATH    := /opt/ohpc/pub/libs/$(COMPILER_FAMILY)/$(MPI_FAMILY)/$(PNAME)/$(VERSION)
HDF5_LIBDIR    := /opt/ohpc/pub/libs/$(COMPILER_FAMILY)/$(MPI_FAMILY)/phdf5/2.1.1/lib
INTEL_LIB       := /opt/intel/oneapi/compiler/latest/lib
SRCDIR          := $(CURDIR)/$(PNAME)-c-$(VERSION)
PKG             := $(CURDIR)/debian/$(PNAME)-$(COMPILER_FAMILY)-$(MPI_FAMILY)-ohpc
ENV             := OHPC_MODULES="phdf5" bash /build/devel/build-mpi.sh

%:
	dh $@

override_dh_auto_configure:
	test -s SOURCES/v$(VERSION).tar.gz || \
		wget -q -O SOURCES/v$(VERSION).tar.gz \
			https://github.com/Unidata/netcdf-c/archive/v$(VERSION).tar.gz
	rm -rf $(SRCDIR)
	tar xf SOURCES/v$(VERSION).tar.gz

override_dh_auto_build:
	cd $(SRCDIR) && $(ENV) bash -c '\
		export CPPFLAGS="-I$${HDF5_INC}" && \
		export LDFLAGS="-L$${HDF5_LIB}" && \
		CC=mpicc ./configure --prefix=$(INSTALL_PATH) \
			--enable-shared --enable-netcdf-4 --enable-dap \
			--with-pic --disable-doxygen --disable-static && \
		make -j$$(nproc)'

override_dh_auto_install:
	cd $(SRCDIR) && DESTDIR=$(PKG) $(ENV) make install
	find $(PKG) -name '*.la' -delete
	# Install modulefile
	mkdir -p $(PKG)/opt/ohpc/pub/moduledeps/$(COMPILER_FAMILY)-$(MPI_FAMILY)/$(PNAME)
	install -m 644 debian/modulefile $(PKG)/opt/ohpc/pub/moduledeps/$(COMPILER_FAMILY)-$(MPI_FAMILY)/$(PNAME)/$(VERSION)

override_dh_auto_clean:
	rm -rf $(SRCDIR)

override_dh_usrlocal:

override_dh_shlibdeps:
	dh_shlibdeps -l$(PKG)$(INSTALL_PATH)/lib:$(HDF5_LIBDIR):$(INTEL_LIB) -- --ignore-missing-info || true

override_dh_strip:
	dh_strip --no-automatic-dbgsym || true

override_dh_auto_test:
