Source: mdtoc-ohpc
Section: devel
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               wget
Standards-Version: 4.6.2
Homepage: https://github.com/kubernetes-sigs/mdtoc

Package: mdtoc-ohpc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Markdown table-of-contents generator for OpenHPC
 Utility to generate and insert a table of contents for Markdown files.
