Source: cubelib-intel-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.org>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               intel-compilers-devel-ohpc,
               lmod-ohpc,
               zlib1g-dev,
               make
Standards-Version: 4.6.2
Homepage: https://www.scalasca.org/scalasca/software/cube-4.x/

Package: cubelib-intel-ohpc
Architecture: any
Depends: ohpc-filesystem,
         intel-compilers-devel-ohpc,
         ${shlibs:Depends},
         ${misc:Depends}
Description: CUBE high performance analysis library (intel, OpenHPC)
 CubeLib is the library component of the CUBE performance report explorer,
 providing a C/C++ API for reading and writing CUBE4 performance data.
 Built with the intel compiler family.
 .
 This package is part of the OpenHPC project.
