Source: omb-intel-mpich-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.org>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               intel-compilers-devel-ohpc,
               lmod-ohpc,
               mpich-intel-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               pmix-ohpc,
               make
Standards-Version: 4.6.2
Homepage: https://mvapich.cse.ohio-state.edu/benchmarks/

Package: omb-intel-mpich-ohpc
Architecture: any
Depends: ohpc-filesystem, intel-compilers-devel-ohpc, mpich-intel-ohpc, ${shlibs:Depends}, ${misc:Depends}
Description: OSU Micro-Benchmarks (intel + mpich, OpenHPC)
 The OSU Micro-Benchmarks (OMB) are a widely used suite of benchmarks for
 measuring and evaluating the performance of MPI operations.
 Built with the intel compiler family and mpich MPI stack.
 .
 This package is part of the OpenHPC project.
