Source: fftw-intel-mpich-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.org>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               intel-compilers-devel-ohpc,
               lmod-ohpc,
               mpich-intel-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               pmix-ohpc,
               perl,
               make
Standards-Version: 4.6.2
Homepage: http://www.fftw.org

Package: fftw-intel-mpich-ohpc
Architecture: any
Depends: ohpc-filesystem, intel-compilers-devel-ohpc, mpich-intel-ohpc, ${shlibs:Depends}, ${misc:Depends}
Description: A Fast Fourier Transform library (intel + mpich, OpenHPC)
 FFTW is a C subroutine library for computing the Discrete Fourier
 Transform (DFT) in one or more dimensions, of both real and complex
 data, and of arbitrary input size.
 Built with the intel compiler family and mpich MPI stack.
 .
 This package is part of the OpenHPC project.
