Source: likwid-intel-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.org>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               intel-compilers-devel-ohpc,
               lmod-ohpc,
               perl,
               make
Standards-Version: 4.6.2
Homepage: https://github.com/RRZE-HPC/likwid

Package: likwid-intel-ohpc
Architecture: any
Depends: ohpc-filesystem, intel-compilers-devel-ohpc, ${shlibs:Depends}, ${misc:Depends}
Description: Performance monitoring and benchmarking suite (intel, OpenHPC)
 LIKWID is a toolsuite of command line applications for performance oriented
 programmers. It works for Intel, AMD and ARMv8 processors on the Linux
 operating system.
 Built with the intel compiler family.
 .
 This package is part of the OpenHPC project.
