{% if pkg_admin | default(true) %}
### Administrative Tools

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| autoconf-ohpc | 2.71 | GNU autoconf for OpenHPC. [https://www.gnu.org/software/autoconf](https://www.gnu.org/software/autoconf) |
| automake-ohpc | 1.16.5 | GNU automake for OpenHPC. [https://www.gnu.org/software/automake](https://www.gnu.org/software/automake) |
| conman-ohpc | 0.3.1 | ConMan: The Console Manager. [http://dun.github.io/conman](http://dun.github.io/conman) |
| docs-ohpc | 4.0.0 | OpenHPC documentation. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| examples-ohpc | 2.0 | Example source code and templates for OpenHPC. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| genders-compat-ohpc | 1.32 | Genders compatibility API. [https://github.com/chaos/genders](https://github.com/chaos/genders) |
| genders-ohpc | 1.32 | Static cluster configuration database. [https://github.com/chaos/genders](https://github.com/chaos/genders) |
| hpc-workspace-ohpc | 1.5.0 | Temporary workspace management for HPC. [https://github.com/holgerBerger/hpc-workspace](https://github.com/holgerBerger/hpc-workspace) |
| libtool-ohpc | 2.4.6 | GNU libtool for OpenHPC. [https://www.gnu.org/software/libtool](https://www.gnu.org/software/libtool) |
| lmod-defaults-gnu15-openmpi5-ohpc | 2.0 | OpenHPC default login environment (gnu15/openmpi5). [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| lmod-ohpc | 9.0.5 | Lua based Modules - Lmod. [https://github.com/TACC/Lmod](https://github.com/TACC/Lmod) |
| losf-ohpc | 0.56.0 | A Linux operating system framework for managing HPC clusters. [https://github.com/hpcsi/losf](https://github.com/hpcsi/losf) |
| mdtoc-ohpc | 1.4.0 | Markdown table-of-contents generator for OpenHPC. [https://github.com/kubernetes-sigs/mdtoc](https://github.com/kubernetes-sigs/mdtoc) |
| mrsh-ohpc | 2.12 | Remote shell program that uses munge authentication. [https://github.com/chaos/mrsh](https://github.com/chaos/mrsh) |
| nhc-ohpc | 1.4.3 | LBNL Node Health Check. [https://github.com/mej/nhc](https://github.com/mej/nhc) |
| ohpc-release | 4.1 | OpenHPC release files and repository configuration. [https://github.com/VersatusHPC/ohpc](https://github.com/VersatusHPC/ohpc) |
| pdsh-mod-genders-ohpc | 2.36 | Pdsh genders module. [https://github.com/chaos/pdsh](https://github.com/chaos/pdsh) |
| pdsh-mod-slurm-ohpc | 2.36 | Pdsh Slurm module. [https://github.com/chaos/pdsh](https://github.com/chaos/pdsh) |
| pdsh-ohpc | 2.36 | Parallel remote shell program. [https://github.com/chaos/pdsh](https://github.com/chaos/pdsh) |
| prun-ohpc | 2.2 | Convenience utility for parallel job launch. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |

{% endif %}

{% if pkg_provisioning | default(true) %}
### Provisioning

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| warewulf-dracut-ohpc | 4.6.5 | Dracut module for loading a Warewulf image. [https://github.com/warewulf/warewulf](https://github.com/warewulf/warewulf) |
| warewulf-ohpc | 4.6.5 | A provisioning system for large clusters of bare metal and/or virtual systems. [https://github.com/warewulf/warewulf](https://github.com/warewulf/warewulf) |

{% endif %}

{% if pkg_rms | default(true) %}
### Resource Management

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| magpie-ohpc | 3.2 | Scripts for running Big Data software in HPC environments. [https://github.com/LLNL/magpie](https://github.com/LLNL/magpie) |
| munge-devel-ohpc | 0.5.13 | MUNGE development files. [https://github.com/dun/munge](https://github.com/dun/munge) |
| munge-libs-ohpc | 0.5.13 | MUNGE shared libraries. [https://github.com/dun/munge](https://github.com/dun/munge) |
| munge-ohpc | 0.5.13 | MUNGE authentication service. [https://github.com/dun/munge](https://github.com/dun/munge) |
| openpbs-client-ohpc | 23.06.06 | OpenPBS client. [http://www.openpbs.org](http://www.openpbs.org) |
| openpbs-devel-ohpc | 23.06.06 | OpenPBS development files. [http://www.openpbs.org](http://www.openpbs.org) |
| openpbs-execution-ohpc | 23.06.06 | OpenPBS execution host. [http://www.openpbs.org](http://www.openpbs.org) |
| openpbs-server-ohpc | 23.06.06 | OpenPBS server. [http://www.openpbs.org](http://www.openpbs.org) |
| pmix-ohpc | 4.2.9 | Process Management Interface for Exascale (PMIx). [https://github.com/openpmix/openpmix](https://github.com/openpmix/openpmix) |
| slurm-contribs-ohpc | 25.05.6 | Slurm contributed scripts. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-devel-ohpc | 25.05.6 | Slurm development files. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-example-configs-ohpc | 25.05.6 | Slurm example configuration files. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-libpmi-ohpc | 25.05.6 | Slurm PMI libraries. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-ohpc | 25.05.6 | Slurm Workload Manager. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-openlava-ohpc | 25.05.6 | Slurm OpenLava/LSF compatibility wrappers. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-pam-slurm-ohpc | 25.05.6 | Slurm PAM module. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-perlapi-ohpc | 25.05.6 | Slurm Perl API. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-sackd-ohpc | 25.05.6 | Slurm auth and cred kiosk daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmctld-ohpc | 25.05.6 | Slurm controller daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmd-ohpc | 25.05.6 | Slurm compute node daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-slurmdbd-ohpc | 25.05.6 | Slurm database daemon. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-sview-ohpc | 25.05.6 | Slurm graphical interface. [https://slurm.schedmd.com](https://slurm.schedmd.com) |
| slurm-torque-ohpc | 25.05.6 | Slurm Torque/PBS compatibility wrappers. [https://slurm.schedmd.com](https://slurm.schedmd.com) |

{% endif %}

{% if pkg_compiler_families | default(true) %}
### Compiler Families

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| gnu15-compilers-ohpc | 15.2.0 | GNU Compiler Collection 15.2.0. [https://gcc.gnu.org](https://gcc.gnu.org) |
| intel-compilers-devel-ohpc | 2025.0 | OpenHPC compatibility package for Intel(R) oneAPI HPC Toolkit. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| intel-oneapi-toolkit-release-ohpc | 2025.0 | Intel(R) oneAPI HPC Toolkit Repository Setup. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| llvm10-compilers-ohpc | 10.0.1 | LLVM compiler infrastructure for OpenHPC. [https://llvm.org](https://llvm.org) |

{% endif %}

{% if pkg_mpi_families | default(true) %}
### MPI Families / Communication Libraries

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| intel-mpi-devel-ohpc | 2025.0 | OpenHPC compatibility package for Intel(R) oneAPI MPI Library. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| mpich-gnu15-ohpc<br>mpich-intel-ohpc<br>mpich-ucx-gnu15-ohpc | 5.0.0 | MPICH MPI implementation (gnu15, OpenHPC). [https://www.mpich.org](https://www.mpich.org) |
| mvapich2-gnu15-ohpc<br>mvapich2-intel-ohpc | 2.3.7 | MVAPICH2 MPI implementation (gnu15, OpenHPC). [http://mvapich.cse.ohio-state.edu](http://mvapich.cse.ohio-state.edu) |
| openmpi5-gnu15-ohpc<br>openmpi5-intel-ohpc | 5.0.10 | Open MPI 5 (gnu15, OpenHPC). [https://www.open-mpi.org](https://www.open-mpi.org) |
| ucx-cma-ohpc | 1.20.0 | UCX CMA transport support. [https://www.openucx.org](https://www.openucx.org) |
| ucx-devel-ohpc | 1.20.0 | UCX development files. [https://www.openucx.org](https://www.openucx.org) |
| ucx-ib-ohpc | 1.20.0 | UCX InfiniBand transport support. [https://www.openucx.org](https://www.openucx.org) |
| ucx-ohpc | 1.20.0 | Unified Communication X (UCX) framework. [https://www.openucx.org](https://www.openucx.org) |
| ucx-rdmacm-ohpc | 1.20.0 | UCX RDMA CM transport support. [https://www.openucx.org](https://www.openucx.org) |

{% endif %}

{% if pkg_dev_tools | default(true) %}
### Development Tools

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| cmake-ohpc | 4.3.0 | Cross-platform family of build tools. [https://cmake.org](https://cmake.org) |
| cuda-devel-ohpc | 25.9 | OpenHPC compatibility package for CUDA. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| cuda-repo-ohpc | 25.9 | CUDA toolkit repository configuration. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |
| easybuild-ohpc | 5.2.1 | Software build and installation framework. [https://easybuilders.github.io/easybuild](https://easybuilders.github.io/easybuild) |
| hwloc-ohpc | 2.13.0 | Portable Hardware Locality (hwloc). [https://www.open-mpi.org/projects/hwloc](https://www.open-mpi.org/projects/hwloc) |
| python3-mpi4py-gnu15-impi-ohpc<br>python3-mpi4py-gnu15-mpich-ohpc<br>python3-mpi4py-gnu15-mvapich2-ohpc<br>python3-mpi4py-gnu15-openmpi5-ohpc<br>python3-mpi4py-intel-impi-ohpc<br>python3-mpi4py-intel-mpich-ohpc<br>python3-mpi4py-intel-mvapich2-ohpc<br>python3-mpi4py-intel-openmpi5-ohpc | 4.1.1 | Python bindings for the Message Passing Interface (gnu15 + impi, OpenHPC). [https://github.com/mpi4py/mpi4py](https://github.com/mpi4py/mpi4py) |
| python3-numpy-gnu15-ohpc<br>python3-numpy-intel-ohpc | 2.4.3 | NumPy array processing for numbers, strings, records and objects (gnu15, OpenHPC). [https://github.com/numpy/numpy](https://github.com/numpy/numpy) |
| python3-scipy-gnu15-openmpi5-ohpc | 1.14.1 | Scientific Tools for Python (gnu15 + openmpi5, OpenHPC). [http://www.scipy.org](http://www.scipy.org) |
| spack-ohpc | 1.1.1 | HPC software package management. [https://github.com/spack/spack](https://github.com/spack/spack) |
| valgrind-ohpc | 3.26.0 | An instrumentation framework for building dynamic analysis tools. [https://valgrind.org](https://valgrind.org) |

{% endif %}

{% if pkg_perf_tools | default(true) %}
### Performance Analysis Tools

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| dimemas-gnu15-impi-ohpc<br>dimemas-gnu15-mpich-ohpc<br>dimemas-gnu15-mvapich2-ohpc<br>dimemas-gnu15-openmpi5-ohpc<br>dimemas-intel-impi-ohpc<br>dimemas-intel-mpich-ohpc<br>dimemas-intel-mvapich2-ohpc<br>dimemas-intel-openmpi5-ohpc | 5.5.0 | Dimemas network simulator tool (gnu15 + impi, OpenHPC). [https://tools.bsc.es](https://tools.bsc.es) |
| extrae-gnu15-impi-ohpc<br>extrae-gnu15-mpich-ohpc<br>extrae-gnu15-mvapich2-ohpc<br>extrae-gnu15-openmpi5-ohpc<br>extrae-intel-impi-ohpc<br>extrae-intel-mpich-ohpc<br>extrae-intel-mvapich2-ohpc<br>extrae-intel-openmpi5-ohpc | 5.0.3 | Extrae instrumentation framework for parallel applications (gnu15 + impi, OpenHPC). [https://tools.bsc.es](https://tools.bsc.es) |
| imb-gnu15-impi-ohpc<br>imb-gnu15-mpich-ohpc<br>imb-gnu15-mvapich2-ohpc<br>imb-gnu15-openmpi5-ohpc<br>imb-intel-impi-ohpc<br>imb-intel-mpich-ohpc<br>imb-intel-mvapich2-ohpc<br>imb-intel-openmpi5-ohpc | 2021.10 | Intel MPI Benchmarks (gnu15 + impi, OpenHPC). [https://github.com/intel/mpi-benchmarks](https://github.com/intel/mpi-benchmarks) |
| likwid-gnu15-ohpc<br>likwid-intel-ohpc | 5.5.1 | Performance monitoring and benchmarking suite (gnu15, OpenHPC). [https://github.com/RRZE-HPC/likwid](https://github.com/RRZE-HPC/likwid) |
| msr-safe-ohpc | 1.7.0 | Safer MSR access for OpenHPC. [https://github.com/LLNL/msr-safe](https://github.com/LLNL/msr-safe) |
| omb-gnu15-impi-ohpc<br>omb-gnu15-mpich-ohpc<br>omb-gnu15-mvapich2-ohpc<br>omb-gnu15-openmpi5-ohpc<br>omb-intel-impi-ohpc<br>omb-intel-mpich-ohpc<br>omb-intel-mvapich2-ohpc<br>omb-intel-openmpi5-ohpc | 7.5.2 | OSU Micro-Benchmarks (gnu15 + impi, OpenHPC). [https://mvapich.cse.ohio-state.edu/benchmarks](https://mvapich.cse.ohio-state.edu/benchmarks) |
| papi-ohpc | 7.2.0 | Performance Application Programming Interface. [https://icl.utk.edu/papi](https://icl.utk.edu/papi) |
| paraver-ohpc | 4.12.0 | Paraver parallel program visualization and analysis tool. [https://tools.bsc.es](https://tools.bsc.es) |
| pdtoolkit-gnu15-ohpc<br>pdtoolkit-intel-ohpc | 3.25.1 | Program Database Toolkit (gnu15, OpenHPC). [http://www.cs.uoregon.edu/Research/pdt](http://www.cs.uoregon.edu/Research/pdt) |
| scalasca-gnu15-impi-ohpc<br>scalasca-gnu15-mpich-ohpc<br>scalasca-gnu15-mvapich2-ohpc<br>scalasca-gnu15-openmpi5-ohpc<br>scalasca-intel-impi-ohpc<br>scalasca-intel-mpich-ohpc<br>scalasca-intel-mvapich2-ohpc<br>scalasca-intel-openmpi5-ohpc | 2.6.2 | Toolset for performance analysis of large-scale parallel applications (gnu15 + impi, OpenHPC). [http://www.scalasca.org](http://www.scalasca.org) |
| scorep-gnu15-impi-ohpc<br>scorep-gnu15-mpich-ohpc<br>scorep-gnu15-mvapich2-ohpc<br>scorep-gnu15-openmpi5-ohpc<br>scorep-intel-impi-ohpc<br>scorep-intel-mpich-ohpc<br>scorep-intel-mvapich2-ohpc<br>scorep-intel-openmpi5-ohpc | 9.4 | Scalable Performance Measurement Infrastructure for Parallel Codes (gnu15 + impi, OpenHPC). [http://www.vi-hps.org/projects/score-p](http://www.vi-hps.org/projects/score-p) |
| tau-gnu15-impi-ohpc<br>tau-gnu15-mpich-ohpc<br>tau-gnu15-mvapich2-ohpc<br>tau-gnu15-openmpi5-ohpc<br>tau-intel-impi-ohpc<br>tau-intel-mpich-ohpc<br>tau-intel-mvapich2-ohpc<br>tau-intel-openmpi5-ohpc | 2.35.1 | Tuning and Analysis Utilities profiling package (gnu15 + impi, OpenHPC). [http://www.cs.uoregon.edu/research/tau/home.php](http://www.cs.uoregon.edu/research/tau/home.php) |

{% endif %}

{% if pkg_io_libs | default(true) %}
### IO Libraries

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| adios2-gnu15-impi-ohpc<br>adios2-gnu15-mpich-ohpc<br>adios2-gnu15-mvapich2-ohpc<br>adios2-gnu15-openmpi5-ohpc<br>adios2-intel-impi-ohpc<br>adios2-intel-mpich-ohpc<br>adios2-intel-mvapich2-ohpc<br>adios2-intel-openmpi5-ohpc | 2.11.0 | The Adaptable IO System v2 (gnu15 + impi, OpenHPC). [https://adios2.readthedocs.io/en/latest/index.html](https://adios2.readthedocs.io/en/latest/index.html) |
| cubew-gnu15-ohpc<br>cubew-intel-ohpc | 4.9.1 | CUBE high performance write library (gnu15, OpenHPC). [https://www.scalasca.org/scalasca/software/cube-4.x](https://www.scalasca.org/scalasca/software/cube-4.x) |
| hdf5-gnu15-ohpc | 2.1.0 | A general purpose library and file format for storing scientific data (gnu15, OpenHPC). [http://www.hdfgroup.org/HDF5](http://www.hdfgroup.org/HDF5) |
| netcdf-cxx-gnu15-impi-ohpc<br>netcdf-cxx-gnu15-mpich-ohpc<br>netcdf-cxx-gnu15-mvapich2-ohpc<br>netcdf-cxx-gnu15-openmpi5-ohpc<br>netcdf-cxx-intel-impi-ohpc<br>netcdf-cxx-intel-mpich-ohpc<br>netcdf-cxx-intel-mvapich2-ohpc<br>netcdf-cxx-intel-openmpi5-ohpc | 4.3.1 | C++ Libraries for the Unidata network Common Data Form (gnu15 + impi, OpenHPC). [https://www.unidata.ucar.edu/software/netcdf](https://www.unidata.ucar.edu/software/netcdf) |
| netcdf-fortran-gnu15-impi-ohpc<br>netcdf-fortran-gnu15-mpich-ohpc<br>netcdf-fortran-gnu15-mvapich2-ohpc<br>netcdf-fortran-gnu15-openmpi5-ohpc<br>netcdf-fortran-intel-impi-ohpc<br>netcdf-fortran-intel-mpich-ohpc<br>netcdf-fortran-intel-mvapich2-ohpc<br>netcdf-fortran-intel-openmpi5-ohpc | 4.6.2 | Fortran Libraries for the Unidata network Common Data Form (gnu15 + impi, OpenHPC). [https://www.unidata.ucar.edu/software/netcdf](https://www.unidata.ucar.edu/software/netcdf) |
| netcdf-gnu15-impi-ohpc<br>netcdf-gnu15-mpich-ohpc<br>netcdf-gnu15-mvapich2-ohpc<br>netcdf-gnu15-ohpc<br>netcdf-gnu15-openmpi5-ohpc<br>netcdf-intel-impi-ohpc<br>netcdf-intel-mpich-ohpc<br>netcdf-intel-mvapich2-ohpc<br>netcdf-intel-openmpi5-ohpc | 4.10.0 | C Libraries for the Unidata network Common Data Form (gnu15 + impi, OpenHPC). [https://www.unidata.ucar.edu/software/netcdf](https://www.unidata.ucar.edu/software/netcdf) |
| otf2-gnu15-impi-ohpc<br>otf2-gnu15-mpich-ohpc<br>otf2-gnu15-mvapich2-ohpc<br>otf2-gnu15-openmpi5-ohpc<br>otf2-intel-impi-ohpc<br>otf2-intel-mpich-ohpc<br>otf2-intel-mvapich2-ohpc<br>otf2-intel-openmpi5-ohpc | 3.1.1 | Open Trace Format 2 library (gnu15 + impi, OpenHPC). [https://www.vi-hps.org/projects/score-p](https://www.vi-hps.org/projects/score-p) |
| phdf5-gnu15-impi-ohpc<br>phdf5-gnu15-mpich-ohpc<br>phdf5-gnu15-mvapich2-ohpc<br>phdf5-gnu15-openmpi5-ohpc<br>phdf5-intel-impi-ohpc<br>phdf5-intel-mpich-ohpc<br>phdf5-intel-mvapich2-ohpc<br>phdf5-intel-openmpi5-ohpc | 2.1.0 | A general purpose library and file format for storing scientific data - parallel (gnu15 + impi, OpenHPC). [http://www.hdfgroup.org/HDF5](http://www.hdfgroup.org/HDF5) |
| pnetcdf-gnu15-impi-ohpc<br>pnetcdf-gnu15-mpich-ohpc<br>pnetcdf-gnu15-mvapich2-ohpc<br>pnetcdf-gnu15-openmpi5-ohpc<br>pnetcdf-intel-impi-ohpc<br>pnetcdf-intel-mpich-ohpc<br>pnetcdf-intel-mvapich2-ohpc<br>pnetcdf-intel-openmpi5-ohpc | 1.14.1 | A Parallel I/O Library for NetCDF File Access (gnu15 + impi, OpenHPC). [https://parallel-netcdf.github.io](https://parallel-netcdf.github.io) |
| sionlib-gnu15-impi-ohpc<br>sionlib-gnu15-mpich-ohpc<br>sionlib-gnu15-mvapich2-ohpc<br>sionlib-gnu15-openmpi5-ohpc<br>sionlib-intel-impi-ohpc<br>sionlib-intel-mpich-ohpc<br>sionlib-intel-mvapich2-ohpc<br>sionlib-intel-openmpi5-ohpc | 1.7.7 | Scalable I/O Library for Parallel Access to Task-Local Files (gnu15 + impi, OpenHPC). [https://apps.fz-juelich.de/jsc/sionlib/docu/index.html](https://apps.fz-juelich.de/jsc/sionlib/docu/index.html) |

{% endif %}

{% if pkg_distro_packages | default(true) %}
### Distro Packages

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| flex-ohpc | 2.6.4 | Fast Lexical Analyzer Generator for OpenHPC. [https://github.com/westes/flex](https://github.com/westes/flex) |
| python3-cython-ohpc | 3.2.4 | Cython compiler for writing C extensions for Python. [https://cython.org](https://cython.org) |
| sigar-ohpc | 1.6.5 | System Information Gatherer And Reporter for OpenHPC. [https://github.com/openhpc/ohpc](https://github.com/openhpc/ohpc) |

{% endif %}

{% if pkg_runtimes | default(true) %}
### Runtimes

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| charliecloud-ohpc | 0.43 | Lightweight user-defined software stacks for HPC. [https://charliecloud.io](https://charliecloud.io) |

{% endif %}

{% if pkg_serial_libs | default(true) %}
### Serial/Threaded Libraries

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| cubelib-gnu15-ohpc<br>cubelib-intel-ohpc | 4.9.1 | CUBE high performance analysis library (gnu15, OpenHPC). [https://www.scalasca.org/scalasca/software/cube-4.x](https://www.scalasca.org/scalasca/software/cube-4.x) |
| gotcha-gnu15-ohpc<br>gotcha-intel-ohpc | 1.0.8 | A library for wrapping function calls in shared libraries (gnu15, OpenHPC). [https://github.com/LLNL/GOTCHA](https://github.com/LLNL/GOTCHA) |
| gsl-gnu15-ohpc<br>gsl-intel-ohpc | 2.8 | GNU Scientific Library (gnu15, OpenHPC). [http://www.gnu.org/software/gsl](http://www.gnu.org/software/gsl) |
| metis-gnu15-ohpc<br>metis-intel-ohpc | 5.1.0 | Serial Graph Partitioning and Fill-reducing Matrix Ordering (gnu15, OpenHPC). [http://glaros.dtc.umn.edu/gkhome/metis/metis/overview](http://glaros.dtc.umn.edu/gkhome/metis/metis/overview) |
| opari2-gnu15-ohpc<br>opari2-intel-ohpc | 2.0.9 | An OpenMP runtime performance measurement instrumenter (gnu15, OpenHPC). [https://www.vi-hps.org/projects/score-p](https://www.vi-hps.org/projects/score-p) |
| openblas-gnu15-ohpc<br>openblas-intel-ohpc | 0.3.32 | An optimized BLAS library based on GotoBLAS2 (gnu15, OpenHPC). [http://www.openblas.net](http://www.openblas.net) |
| plasma-gnu15-ohpc<br>plasma-intel-ohpc | 25.5.27 | Parallel Linear Algebra Software for Multicore Architectures (gnu15, OpenHPC). [https://github.com/icl-utk-edu/plasma](https://github.com/icl-utk-edu/plasma) |
| ptscotch-gnu15-impi-ohpc<br>ptscotch-gnu15-mpich-ohpc<br>ptscotch-gnu15-mvapich2-ohpc<br>ptscotch-gnu15-openmpi5-ohpc<br>ptscotch-intel-impi-ohpc<br>ptscotch-intel-mpich-ohpc<br>ptscotch-intel-mvapich2-ohpc<br>ptscotch-intel-openmpi5-ohpc | 7.0.10 | Graph, mesh and hypergraph partitioning library - MPI variant (gnu15 + impi, OpenHPC). [https://gitlab.inria.fr/scotch/scotch](https://gitlab.inria.fr/scotch/scotch) |
| r-gnu15-ohpc | 4.5.3 | R language for statistical computing (gnu15, OpenHPC). [http://www.r-project.org](http://www.r-project.org) |
| scotch-gnu15-ohpc<br>scotch-intel-ohpc | 7.0.10 | Graph, mesh and hypergraph partitioning library (gnu15, OpenHPC). [https://gitlab.inria.fr/scotch/scotch](https://gitlab.inria.fr/scotch/scotch) |
| superlu-gnu15-ohpc<br>superlu-intel-ohpc | 7.0.1 | A general purpose library for the direct solution of linear equations (gnu15, OpenHPC). [http://crd.lbl.gov/~xiaoye/SuperLU](http://crd.lbl.gov/~xiaoye/SuperLU) |

{% endif %}

{% if pkg_parallel_libs | default(true) %}
### Parallel Libraries

| **Package Name** | **Version** | **Info/URL** |
|------------------|-------------|--------------|
| boost-gnu15-impi-ohpc<br>boost-gnu15-mpich-ohpc<br>boost-gnu15-mvapich2-ohpc<br>boost-gnu15-openmpi5-ohpc<br>boost-intel-impi-ohpc<br>boost-intel-mpich-ohpc<br>boost-intel-mvapich2-ohpc<br>boost-intel-openmpi5-ohpc | 1.90.0 | Free peer-reviewed portable C++ source libraries (gnu15 + impi, OpenHPC). [http://www.boost.org](http://www.boost.org) |
| fftw-gnu15-impi-ohpc<br>fftw-gnu15-mpich-ohpc<br>fftw-gnu15-mvapich2-ohpc<br>fftw-gnu15-openmpi5-ohpc<br>fftw-intel-impi-ohpc<br>fftw-intel-mpich-ohpc<br>fftw-intel-mvapich2-ohpc<br>fftw-intel-openmpi5-ohpc | 3.3.10 | A Fast Fourier Transform library (gnu15 + impi, OpenHPC). [http://www.fftw.org](http://www.fftw.org) |
| hypre-gnu15-impi-ohpc<br>hypre-gnu15-mpich-ohpc<br>hypre-gnu15-mvapich2-ohpc<br>hypre-gnu15-openmpi5-ohpc<br>hypre-intel-impi-ohpc<br>hypre-intel-mpich-ohpc<br>hypre-intel-mvapich2-ohpc<br>hypre-intel-openmpi5-ohpc | 3.1.0 | Scalable algorithms for solving linear systems of equations (gnu15 + impi, OpenHPC). [http://www.llnl.gov/casc/hypre](http://www.llnl.gov/casc/hypre) |
| mfem-gnu15-impi-ohpc<br>mfem-gnu15-mpich-ohpc<br>mfem-gnu15-mvapich2-ohpc<br>mfem-intel-impi-ohpc<br>mfem-intel-mpich-ohpc<br>mfem-intel-mvapich2-ohpc<br>mfem-intel-openmpi5-ohpc | 4.9 | Lightweight, general, scalable C++ library for finite element methods (gnu15 + impi, OpenHPC). [http://mfem.org](http://mfem.org) |
| mumps-gnu15-impi-ohpc<br>mumps-gnu15-mpich-ohpc<br>mumps-gnu15-mvapich2-ohpc<br>mumps-gnu15-openmpi5-ohpc<br>mumps-intel-impi-ohpc<br>mumps-intel-mpich-ohpc<br>mumps-intel-mvapich2-ohpc<br>mumps-intel-openmpi5-ohpc | 5.8.2 | A MUltifrontal Massively Parallel Sparse direct Solver (gnu15 + impi, OpenHPC). [https://mumps-solver.org](https://mumps-solver.org) |
| opencoarrays-gnu15-mpich-ohpc<br>opencoarrays-gnu15-mvapich2-ohpc<br>opencoarrays-gnu15-openmpi5-ohpc | 2.10.3 | ABI to leverage the parallel programming features of Fortran 2018 (gnu15 + mpich, OpenHPC). [http://www.opencoarrays.org](http://www.opencoarrays.org) |
| petsc-gnu15-impi-ohpc<br>petsc-gnu15-mpich-ohpc<br>petsc-gnu15-mvapich2-ohpc<br>petsc-intel-impi-ohpc<br>petsc-intel-mpich-ohpc<br>petsc-intel-mvapich2-ohpc<br>petsc-intel-openmpi5-ohpc | 3.24.4 | Portable Extensible Toolkit for Scientific Computation (gnu15 + impi, OpenHPC). [http://www.mcs.anl.gov/petsc](http://www.mcs.anl.gov/petsc) |
| scalapack-gnu15-impi-ohpc<br>scalapack-gnu15-mpich-ohpc<br>scalapack-gnu15-mvapich2-ohpc<br>scalapack-gnu15-openmpi5-ohpc<br>scalapack-intel-impi-ohpc<br>scalapack-intel-mpich-ohpc<br>scalapack-intel-mvapich2-ohpc<br>scalapack-intel-openmpi5-ohpc | 2.2.2 | A subset of LAPACK routines redesigned for heterogeneous computing (gnu15 + impi, OpenHPC). [https://netlib.org/scalapack](https://netlib.org/scalapack) |
| slepc-gnu15-impi-ohpc<br>slepc-gnu15-mpich-ohpc<br>slepc-gnu15-mvapich2-ohpc<br>slepc-intel-impi-ohpc<br>slepc-intel-mpich-ohpc<br>slepc-intel-mvapich2-ohpc<br>slepc-intel-openmpi5-ohpc | 3.24.3 | Scalable Library for Eigenvalue Problem Computations (gnu15 + impi, OpenHPC). [http://slepc.upv.es](http://slepc.upv.es) |
| superlu-dist-gnu15-impi-ohpc<br>superlu-dist-gnu15-mpich-ohpc<br>superlu-dist-gnu15-mvapich2-ohpc<br>superlu-dist-gnu15-openmpi5-ohpc<br>superlu-dist-intel-impi-ohpc<br>superlu-dist-intel-mpich-ohpc<br>superlu-dist-intel-mvapich2-ohpc<br>superlu-dist-intel-openmpi5-ohpc | 9.2.1 | A general purpose library for the direct solution of linear equations (gnu15 + impi, OpenHPC). [https://portal.nersc.gov/project/sparse/superlu](https://portal.nersc.gov/project/sparse/superlu) |
| trilinos-gnu15-impi-ohpc<br>trilinos-gnu15-mpich-ohpc<br>trilinos-gnu15-mvapich2-ohpc<br>trilinos-intel-impi-ohpc<br>trilinos-intel-mpich-ohpc<br>trilinos-intel-mvapich2-ohpc<br>trilinos-intel-openmpi5-ohpc | 17.0.0 | A collection of libraries of numerical algorithms (gnu15 + impi, OpenHPC). [https://trilinos.org](https://trilinos.org) |

{% endif %}

