Source: pnetcdf-gnu15-openmpi5-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               gnu15-compilers-ohpc (>= 14.1.0),
               lmod-ohpc,
               openmpi5-gnu15-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               pmix-ohpc,
               zlib1g-dev,
               m4,
               perl,
               make
Standards-Version: 4.6.2
Homepage: https://parallel-netcdf.github.io/

Package: pnetcdf-gnu15-openmpi5-ohpc
Architecture: any
Depends: ohpc-filesystem, gnu15-compilers-ohpc (>= 14.1.0), openmpi5-gnu15-ohpc, ${shlibs:Depends}, ${misc:Depends}
Description: A Parallel I/O Library for NetCDF File Access (gnu15 + openmpi5, OpenHPC)
 PnetCDF is a high-performance parallel I/O library for accessing files in
 format compatibility with Unidata's NetCDF.
 Built with the gnu15 compiler family and openmpi5 MPI stack.
 .
 This package is part of the OpenHPC project.
