Source: sionlib-gnu15-mpich-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               gnu15-compilers-ohpc (>= 14.1.0),
               lmod-ohpc,
               mpich-gnu15-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               pmix-ohpc,
               make,
               gcc-gfortran | gfortran
Standards-Version: 4.6.2
Homepage: https://apps.fz-juelich.de/jsc/sionlib/docu/index.html

Package: sionlib-gnu15-mpich-ohpc
Architecture: any
Depends: ohpc-filesystem,
         gnu15-compilers-ohpc (>= 14.1.0),
         mpich-gnu15-ohpc,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Scalable I/O Library for Parallel Access to Task-Local Files (gnu15 + mpich, OpenHPC)
 SIONlib is a library for writing and reading binary data to/from several
 thousands of processors into one or a small number of physical files.
 Built with the gnu15 compiler family and mpich MPI stack.
 .
 This package is part of the OpenHPC project.
