#!/usr/bin/make -f

COMPILER_FAMILY := gnu15
PNAME           := scotch
VERSION         := 7.0.10
INSTALL_PATH    := /opt/ohpc/pub/libs/$(COMPILER_FAMILY)/$(PNAME)/$(VERSION)
SRCDIR          := $(CURDIR)/$(PNAME)-v$(VERSION)
PKG             := $(CURDIR)/debian/$(PNAME)-$(COMPILER_FAMILY)-ohpc
ENV             := bash /build/devel/build-comp.sh

%:
	dh $@

override_dh_auto_configure:
	test -s SOURCES/$(PNAME)-v$(VERSION).tar.bz2 || \
		wget -q -O SOURCES/$(PNAME)-v$(VERSION).tar.bz2 \
			https://gitlab.inria.fr/scotch/scotch/-/archive/v$(VERSION)/$(PNAME)-v$(VERSION).tar.bz2
	rm -rf $(SRCDIR)
	tar xf SOURCES/$(PNAME)-v$(VERSION).tar.bz2
	cd $(SRCDIR) && $(ENV) cmake -S . -B build \
		-DCMAKE_INSTALL_PREFIX=$(INSTALL_PATH) \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_C_FLAGS="$${CFLAGS} -fPIC" \
		-DBUILD_SHARED_LIBS=ON \
		-DBUILD_PTSCOTCH=OFF \
		-DBUILD_LIBSCOTCHMETIS=ON \
		-DBUILD_LIBESMUMPS=ON \
		-DTHREADS=ON \
		-DIDXSIZE=64 \
		-DSCOTCH_DETERMINISTIC=FIXED_SEED

override_dh_auto_build:
	cd $(SRCDIR) && $(ENV) cmake --build build -j$$(nproc)

override_dh_auto_install:
	cd $(SRCDIR) && DESTDIR=$(PKG) $(ENV) cmake --install build
	find $(PKG) -name '*.la' -delete
	# Install modulefile
	mkdir -p $(PKG)/opt/ohpc/pub/moduledeps/$(COMPILER_FAMILY)/$(PNAME)
	install -m 644 debian/modulefile $(PKG)/opt/ohpc/pub/moduledeps/$(COMPILER_FAMILY)/$(PNAME)/$(VERSION)

override_dh_auto_clean:
	rm -rf $(SRCDIR)

override_dh_usrlocal:

override_dh_shlibdeps:
	dh_shlibdeps -l$(PKG)$(INSTALL_PATH)/lib64 -l$(PKG)$(INSTALL_PATH)/lib -- --ignore-missing-info || true

override_dh_strip:
	dh_strip --no-automatic-dbgsym || true

override_dh_auto_test:
