Source: phdf5-intel-mpich-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               intel-compilers-devel-ohpc,
               lmod-ohpc,
               mpich-intel-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               pmix-ohpc,
               zlib1g-dev,
               cmake,
               make
Standards-Version: 4.6.2
Homepage: http://www.hdfgroup.org/HDF5

Package: phdf5-intel-mpich-ohpc
Architecture: any
Depends: ohpc-filesystem, intel-compilers-devel-ohpc, mpich-intel-ohpc, ${shlibs:Depends}, ${misc:Depends}
Description: A general purpose library and file format for storing scientific data - parallel (intel + mpich, OpenHPC)
 HDF5 is a general purpose library and file format for storing scientific data.
 HDF5 can store two primary objects: datasets and groups.
 Built with the intel compiler family and mpich MPI stack.
 .
 This package is part of the OpenHPC project.
