Source: warewulf-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               golang (>= 1.22),
               make,
               git,
               libgpgme-dev,
               python3-dev
Standards-Version: 4.6.2
Homepage: https://github.com/warewulf/warewulf

Package: warewulf-ohpc
Architecture: any
Depends: ohpc-filesystem, nfs-kernel-server, ${shlibs:Depends}, ${misc:Depends}
Recommends: logrotate, ipmitool, dnsmasq | isc-dhcp-server, tftpd-hpa
Conflicts: warewulf-common, warewulf-cluster, warewulf-vnfs, warewulf-provision, warewulf-ipmi
Description: A provisioning system for large clusters of bare metal and/or virtual systems (OpenHPC)
 Warewulf is a stateless and diskless provisioning system for large clusters
 of bare metal and/or virtual systems.
 .
 This package is part of the OpenHPC project.

Package: warewulf-dracut-ohpc
Architecture: all
Depends: dracut, dracut-network, curl, cpio, dmidecode, ${misc:Depends}
Description: Dracut module for loading a Warewulf image (OpenHPC)
 Warewulf is a stateless and diskless provisioning system for large clusters
 of bare metal and/or virtual systems.
 .
 This subpackage contains a dracut module that can be used to generate an
 initramfs that can fetch and boot a Warewulf node image from a Warewulf server.
 .
 This package is part of the OpenHPC project.
