Source: dimemas-intel-mvapich2-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               intel-compilers-devel-ohpc,
               lmod-ohpc,
               mvapich2-intel-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               pmix-ohpc,
               boost-intel-mvapich2-ohpc,
               bison,
               make
Standards-Version: 4.6.2
Homepage: https://tools.bsc.es

Package: dimemas-intel-mvapich2-ohpc
Architecture: any
Depends: ohpc-filesystem,
         intel-compilers-devel-ohpc,
         mvapich2-intel-ohpc,
         boost-intel-mvapich2-ohpc,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Dimemas network simulator tool (intel + mvapich2, OpenHPC)
 Dimemas is a performance analysis tool for message-passing programs. It
 enables the user to develop and tune parallel applications on a workstation,
 while providing predictions of their performance on the target machine.
 Built with the intel compiler family and mvapich2 MPI stack.
 .
 This package is part of the OpenHPC project.
