Source: @PNAME@-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               @BUILD_DEPENDS@
Standards-Version: 4.6.2
Homepage: @HOMEPAGE@

Package: @PNAME@-ohpc
Architecture: any
Depends: ohpc-filesystem, ${shlibs:Depends}, ${misc:Depends}
Description: @DESCRIPTION_SHORT@ (OpenHPC)
 @DESCRIPTION_LONG@
 .
 This package is part of the OpenHPC project.

Package: @PNAME@-devel-ohpc
Architecture: any
Depends: @PNAME@-ohpc (= ${binary:Version}), ${misc:Depends}
Description: @DESCRIPTION_SHORT@ development files (OpenHPC)
 Development headers and libraries for @PNAME@.
 .
 This package is part of the OpenHPC project.
