Source: scalasca-intel-mvapich2-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.org>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               intel-compilers-devel-ohpc,
               lmod-ohpc,
               mvapich2-intel-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               pmix-ohpc,
               cubew-intel-ohpc,
               cubelib-intel-ohpc,
               otf2-intel-mvapich2-ohpc,
               scorep-intel-mvapich2-ohpc,
               zlib1g-dev,
               make,
               which
Standards-Version: 4.6.2
Homepage: http://www.scalasca.org

Package: scalasca-intel-mvapich2-ohpc
Architecture: any
Depends: ohpc-filesystem,
         intel-compilers-devel-ohpc,
         mvapich2-intel-ohpc,
         scorep-intel-mvapich2-ohpc,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Toolset for performance analysis of large-scale parallel applications (intel + mvapich2, OpenHPC)
 Scalasca is a software tool that supports the performance optimization of
 parallel programs by measuring and analyzing their runtime behavior.
 Built with the intel compiler family and mvapich2 MPI stack.
 .
 This package is part of the OpenHPC project.
