#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=-all
export CFLAGS =
export CXXFLAGS =
export LDFLAGS =

COMPILER_FAMILY := intel
export COMPILER_FAMILY
MPI_FAMILY      := mvapich2
export MPI_FAMILY
PNAME           := mumps
VERSION         := 5.8.2
INSTALL_PATH    := /opt/ohpc/pub/libs/$(COMPILER_FAMILY)/$(MPI_FAMILY)/$(PNAME)/$(VERSION)
SRCDIR          := $(CURDIR)/MUMPS_$(VERSION)
PKG             := $(CURDIR)/debian/$(PNAME)-$(COMPILER_FAMILY)-$(MPI_FAMILY)-ohpc
ENV             := OHPC_MODULES="openblas scalapack" bash /build/devel/build-mpi.sh

%:
	dh $@

override_dh_auto_configure:
	test -s SOURCES/MUMPS_$(VERSION).tar.gz || \
		wget -q -O SOURCES/MUMPS_$(VERSION).tar.gz \
			http://mumps-solver.org/MUMPS_$(VERSION).tar.gz
	rm -rf $(SRCDIR)
	tar xf SOURCES/MUMPS_$(VERSION).tar.gz
	cp -f SOURCES/Makefile.gnu.inc $(SRCDIR)/Makefile.inc

override_dh_auto_build:
	cd $(SRCDIR) && $(ENV) bash -c '\
		export LIBS="-L$$MPI_DIR/lib -lmpi_mpifh -lmpi" && \
		export FCFLAGS="-fallow-argument-mismatch -Wno-unused-dummy-argument -Wno-misleading-indentation -Wno-unused-function -Wno-unused-variable -Wno-maybe-uninitialized -Wno-conversion -Wno-target-lifetime -Wno-argument-mismatch" && \
		export CFLAGS="-Wno-unused-function -Wno-strict-aliasing -Wno-misleading-indentation" && \
		make MUMPS_MPI=openmpi \
			FC=mpif77 \
			MUMPS_LIBF77="$$LIBS" \
			OPTC="$$CFLAGS" OPTF="$$FCFLAGS" \
			allshared -j$$(nproc)'

override_dh_auto_install:
	mkdir -p $(PKG)$(INSTALL_PATH)/lib
	mkdir -p $(PKG)$(INSTALL_PATH)/include
	mkdir -p $(PKG)$(INSTALL_PATH)/etc
	# Move PORD shared libs into lib/ and remove sort binaries
	cd $(SRCDIR) && rm -vf PORD/lib/sort* && \
		mv -v PORD/lib/*so* lib/. && \
		mv -v PORD/include/* include/.
	install -m 755 $(SRCDIR)/lib/*so* $(PKG)$(INSTALL_PATH)/lib
	install -m 644 $(SRCDIR)/include/* $(PKG)$(INSTALL_PATH)/include
	install -m 644 $(SRCDIR)/Makefile.inc $(PKG)$(INSTALL_PATH)/etc
	# Install modulefile
	mkdir -p $(PKG)/opt/ohpc/pub/moduledeps/$(COMPILER_FAMILY)-$(MPI_FAMILY)/$(PNAME)
	install -m 644 debian/modulefile $(PKG)/opt/ohpc/pub/moduledeps/$(COMPILER_FAMILY)-$(MPI_FAMILY)/$(PNAME)/$(VERSION)

override_dh_auto_clean:
	rm -rf $(SRCDIR)

override_dh_usrlocal:

override_dh_shlibdeps:
	dh_shlibdeps -l$(PKG)$(INSTALL_PATH)/lib -- --ignore-missing-info || true

override_dh_strip:
	dh_strip --no-automatic-dbgsym || true

override_dh_auto_test:
