Source: netcdf-gnu15-mpich-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               gnu15-compilers-ohpc (>= 14.1.0),
               lmod-ohpc,
               mpich-gnu15-ohpc,
               phdf5-gnu15-mpich-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               pmix-ohpc,
               zlib1g-dev,
               libcurl4-openssl-dev,
               make
Standards-Version: 4.6.2
Homepage: https://www.unidata.ucar.edu/software/netcdf/

Package: netcdf-gnu15-mpich-ohpc
Architecture: any
Depends: ohpc-filesystem, gnu15-compilers-ohpc (>= 14.1.0), mpich-gnu15-ohpc, phdf5-gnu15-mpich-ohpc, ${shlibs:Depends}, ${misc:Depends}
Description: C Libraries for the Unidata network Common Data Form (gnu15 + mpich, OpenHPC)
 NetCDF is a set of software libraries and machine-independent data formats
 that support the creation, access, and sharing of array-oriented scientific data.
 Built with the gnu15 compiler family and mpich MPI stack.
 .
 This package is part of the OpenHPC project.
