Source: boost-gnu15-mvapich2-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               gnu15-compilers-ohpc (>= 14.1.0),
               lmod-ohpc,
               mvapich2-gnu15-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               pmix-ohpc,
               libbz2-dev,
               libexpat1-dev,
               python3-dev,
               python3-numpy,
               libgmp-dev,
               libstdc++-dev | libstdc++-14-dev,
               libicu-dev,
               liblzma-dev,
               zlib1g-dev,
               make,
               which,
               dos2unix
Standards-Version: 4.6.2
Homepage: http://www.boost.org

Package: boost-gnu15-mvapich2-ohpc
Architecture: any
Depends: ohpc-filesystem, gnu15-compilers-ohpc (>= 14.1.0), mvapich2-gnu15-ohpc, ${shlibs:Depends}, ${misc:Depends}
Description: Free peer-reviewed portable C++ source libraries (gnu15 + mvapich2, OpenHPC)
 Boost provides free peer-reviewed portable C++ source libraries.
 Boost emphasizes libraries that work well with the C++ Standard Library.
 Built with the gnu15 compiler family and mvapich2 MPI stack.
 .
 This package is part of the OpenHPC project.
