Source: trilinos-intel-impi-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               intel-compilers-devel-ohpc,
               lmod-ohpc,
               intel-mpi-devel-ohpc,
               openblas-intel-ohpc,
               scalapack-intel-impi-ohpc,
               boost-intel-impi-ohpc,
               phdf5-intel-impi-ohpc,
               netcdf-intel-impi-ohpc,
               pnetcdf-intel-impi-ohpc,
               metis-intel-ohpc,
               ptscotch-intel-impi-ohpc,
               scotch-intel-ohpc,
               superlu-dist-intel-impi-ohpc,
               mumps-intel-impi-ohpc,
               hypre-intel-impi-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               pmix-ohpc,
               cmake,
               make,
               doxygen,
               graphviz,
               libxml2-dev,
               libexpat1-dev,
               swig,
               xz-utils,
               zlib1g-dev,
               python3,
               python3-dev
Standards-Version: 4.6.2
Homepage: https://trilinos.org/

Package: trilinos-intel-impi-ohpc
Architecture: any
Depends: ohpc-filesystem, intel-compilers-devel-ohpc, intel-mpi-devel-ohpc, openblas-intel-ohpc, ${shlibs:Depends}, ${misc:Depends}
Description: A collection of libraries of numerical algorithms (intel + impi, OpenHPC)
 Trilinos is a collection of reusable scientific software libraries, known
 in particular for linear solvers, non-linear solvers, transient solvers,
 optimization solvers, and uncertainty quantification (UQ) solvers.
 Built with the intel compiler family and impi MPI stack.
 .
 This package is part of the OpenHPC project.
