Source: mvapich2-intel-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               intel-compilers-devel-ohpc,
               lmod-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               ucx-devel-ohpc,
               rdma-core,
               libibverbs-dev,
               librdmacm-dev,
               libnuma-dev,
               bison,
               flex,
               m4,
               zlib1g-dev
Standards-Version: 4.6.2
Homepage: http://mvapich.cse.ohio-state.edu

Package: mvapich2-intel-ohpc
Architecture: any
Depends: ohpc-filesystem,
         intel-compilers-devel-ohpc,
         hwloc-ohpc,
         ucx-ohpc,
         ucx-ib-ohpc,
         prun-ohpc,
         ${shlibs:Depends},
         ${misc:Depends}
Description: MVAPICH2 MPI implementation (Intel compilers, OpenHPC)
 MVAPICH2 is a high performance MPI-2 implementation (with initial
 support for MPI-3) for InfiniBand, 10GigE/iWARP and RoCE.
 Built with the Intel compiler family.
 .
 This package is part of the OpenHPC project.
