Source: openblas-intel-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.org>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               intel-compilers-devel-ohpc,
               lmod-ohpc,
               make
Standards-Version: 4.6.2
Homepage: http://www.openblas.net

Package: openblas-intel-ohpc
Architecture: any
Depends: ohpc-filesystem, intel-compilers-devel-ohpc, ${shlibs:Depends}, ${misc:Depends}
Description: An optimized BLAS library based on GotoBLAS2 (intel, OpenHPC)
 OpenBLAS is an optimized BLAS library based on GotoBLAS2 1.13 BSD version.
 Built with the intel compiler family.
 .
 This package is part of the OpenHPC project.
