## Finalizing Provisioning Configuration

Pack the stateless compute image from the chroot environment:

<!-- ohpc_begin -->
<!-- ohpc_comment Finalize xCAT provisioning configuration: pack compute image -->
```bash
packimage ${xcat_osimage}
```
<!-- ohpc_end -->
