Source: scalapack-intel-impi-ohpc
Section: science
Priority: optional
Maintainer: VersatusHPC <packages@versatushpc.com.br>
Build-Depends: debhelper-compat (= 13),
               ohpc-buildroot,
               intel-compilers-devel-ohpc,
               lmod-ohpc,
               intel-mpi-devel-ohpc,
               openblas-intel-ohpc,
               hwloc-ohpc,
               ucx-ohpc,
               pmix-ohpc,
               make
Standards-Version: 4.6.2
Homepage: https://netlib.org/scalapack/

Package: scalapack-intel-impi-ohpc
Architecture: any
Depends: ohpc-filesystem, intel-compilers-devel-ohpc, intel-mpi-devel-ohpc, openblas-intel-ohpc, ${shlibs:Depends}, ${misc:Depends}
Description: A subset of LAPACK routines redesigned for heterogeneous computing (intel + impi, OpenHPC)
 The ScaLAPACK (or Scalable LAPACK) library includes a subset of LAPACK
 routines redesigned for distributed memory MIMD parallel computers.
 Built with the intel compiler family and impi MPI stack.
 .
 This package is part of the OpenHPC project.
